* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

header img {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

header h4 {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  width: 600px;
}

.labels {
  display: flex;
  justify-content: space-between;
}


.input label {
  font-size: 1rem;
  color: #374151;
  font-weight: 700;
}

.input input {
  margin: 5px 20px 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 10px;
  color: #000;
  width: 275px;
}

.form button {
  width: 600px;
  padding: 15px 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme-img {
  width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}